/* * {

    border: 1px solid red;
} */

a {

    color: green;
}

span {
    font-size: small;
}

a {
    text-decoration: none;
}

.subheadings {
    text-shadow: 2px 2px black;
    font-weight: bold;
}

h5 {
    text-shadow: 2px 2px black;
    font-size: 30px;
}

.carousel-header {
    
    text-shadow: 2px 2px black;
    color: white;
}

h1 {
    text-shadow: 2px 2px black;
}

h2 {
    
    color: green;
    text-shadow: 1px 1px black;
}